

#todo_board {
    margin-top:5%;
}

#board {
    margin-top:5%;
}

.task_bar p{
    display: inline-block;  /* インラインブロック化 */
    vertical-align: middle; /* 中央を揃える */
}

a.task_title {
    font-size: 200%;
    color: #000;
}

.task_time {
    color: #0d87e9;
    font-size: 90%;
}
.bookmark{
    margin: auto;
}
