

.jumbotron {
    margin: 3%;
    padding: 0;
    background-color:#FFF;
}

#remaind_panel {
    padding: 2%;
    width:50%;
    background-color: #eceff1;
}
#remaind_panel.over{
    background-color: #ffebee;
}
#remaind_panel.today{
    background-color: #fff8e1;
}
#remaind_panel a{
    color:#000;
}



.todo_bar p{
    display: inline-block;  /* インラインブロック化 */
    vertical-align: middle; /* 中央を揃える */
}



a.todo_title {
    font-size: 200%;
    color: #000;
}

.todo_time {
    color: #0d87e9;
    font-size: 90%;
}

span.todo_time_limit.today{
    color:#2196f3;
}
span.todo_time_limit.over{
    color:#e51c23;
}

#sort_mode .btn.btn-primary {
    background-color:#1976d2;
    color:#FFF;
}


#sort_mode .btn.btn-default {
    background-color:#64b5f6;
    color:#FFF;
}

#createBtn {
    background-color:#e3f2fd;
    color:#01579b;
}


.glyphicon.glyphicon-ok {
    color:#e51c23;
}

.glyphicon.glyphicon-unchecked{
    color:#00c853;
}

.glyphicon.glyphicon-star, .glyphicon.glyphicon-star-empty{
    color:#2196f3;
}

.glyphicon.glyphicon-trash{
    color:#333;

}
.modal-body{
    padding:5%;
}


@media screen and (min-width:480px) and (max-width:768px){
    /*　画面サイズが480pxからはここを読み込む　*/
    #remaind_panel a {
        font-size: xx-large;
    }
    #board {
        margin-top:10%;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    #board {
        margin-top:5%;
    }
}


@media screen and (min-width:1024px) and ( max-width:1366px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/

    #board {
        margin-top:5%;
    }
}

@media screen and (min-width:1366px) {

    #board {
        margin-top:3%;
    }


}

